.header-region {
  padding: 0 !important;
}

.header-wrap {
  background-image: url("../../src/img/Slice_1.jpg");
  margin-top: -70px;
  padding-bottom: 58px;
}

.views-field-field-down-arrow > .field-content > img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
